@model List<ProjeOdev.Models.Gym>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Üye Listesi</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Üye Listesi</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>INTEREST</th>
                <th>TRAINER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Interests</td>
                    <td>@item.Trainer</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
