<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index6</title>
</head>
<body>

    <div style="background-color: #808080; width:100%; height: 40px; text-align:center; padding:20px">
        <h1 style="margin:0px">TRAINER.COM Kişisel Koçluk Sitesi</h1>
    </div>

    <div style="background-color: #ffd800; height:300px; float:left; width: 20%;">
        <ul>
            <li><a href="index7">Anasayfa</a></li>
            <li><a href="index8">Bodybuilding</a></li>
            <li><a href="index9">Powerlifting</a></li>
            <li><a href="index10">esfasdasdewwwwroot oldu</a></li>
        </ul>
    </div>
    <div style="width:80%; background:#eee; height:700px; float:left">
        @RenderBody()
    </div>
    

</body>
</html>
